<%# Embedded ruby that is displayed ( pe + tab) %>
<%# Embedded ruby that is not displayed ( er + tab) %>
<div class="container">
  <div class="row">
  <% @pokemons.each do |pokemon| %>
    <div class="col-6 mb-3">
      <div class="card bg-white" style="width: 18rem;">
        <img src="<%= pokemon.image_url %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= pokemon.name %></h5>
          <p class="card-text"><%= pokemon.poke_type %></p>
          <a href="#" class="btn btn-primary">More details</a>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>